@model FinalProjectENTPROG.Models.Schedule
@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://d23028rwg87pwd.cloudfront.net/ew0KICAgICAgICAgICAgICAgICAgICAiYnVja2V0IjogImFycmVjbG91ZGluYXJ5LWFwLXNvdXRoLTEiLA0KICAgICAgICAgICAgICAgICAgICAia2V5IjogInJlcy9hcnJlL2ltYWdlL3VwbG9hZC9Db3ZpZC1WYWNjaW5lcy1iZS1SZXNlcnZlZC1mb3ItdGhlLVJpY2gxX2EyeXJ4dS8xNjA4MTI2NTUxLnBuZyIsDQogICAgICAgICAgICAgICAgICAgICJlZGl0cyI6ew0KICAgICAgICAgICAgICAgICAgICAgICAgIndlYnAiOiB7InF1YWxpdHkiOjQwfSwNCiAgICAgICAgICAgICAgICAgICAgICAgICJyZXNpemUiOiB7DQogICAgICAgICAgICAgICAgICAgICAgICAgICJmaXQiOiAiY292ZXIiDQogICAgICAgICAgICAgICAgICAgICAgICB9DQogICAgICAgICAgICAgICAgICAgICAgfQ0KICAgICAgICAgICAgICAgICAgICB9" 
         width="1100"
        height="500" style="align-content:center">
</div>
